<div class="section fill-process">
    <p class="title"><span>Filling process</span></p>
    <div class="process-content">
        <img class="img-responsive" ng-src="/wechat/resources/images/icon/process1.png">
    </div>
</div>
<div class="error_info" ng-show="basicinformation.applicationPosition.$invalid||basicinformation.availableSchedule.$invalid||
basicinformation.candidateName.$invalid||basicinformation.currentProvince.$invalid||
basicinformation.nationality.$invalid||basicinformation.IDnumber.$invalid||
basicinformation.birthday.$invalid||basicinformation.cellPhone.$invalid||
basicinformation.Email.$invalid||basicinformation.skillsDescribe.$invalid||
basicinformation.graduatePlan.$invalid||basicinformation.graduationTime.$invalid||!candidate.gender">You need to fill out all the information with '*'</div>
<form name="basicinformation" novalidate class="info-form">
    <div class="section position-information">
        <p class="title"><span>Position Information</span></p>
        <div class="position-content">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="apply-position" class="col-sm-4 col-xs-6 control-label"><span>*</span>Position Applied for:</label>
                    <div class="col-sm-5 col-xs-6">
                        <select ng-model="candidate.applicationPosition" name="applicationPosition" required class="form-control" ng-options="positionOption for positionOption in title.positionOptions">
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="Availability" class="col-sm-4 col-xs-6 control-label"><span>*</span>Availability:</label>
                    <div class="col-sm-5 col-xs-6">
                        <select ng-model="candidate.availableSchedule" name="availableSchedule" ng-change="selectavailable()" required class="form-control" ng-options="availabilityOption.value as availabilityOption.option for availabilityOption in title.availabilityOptions"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section personal-information">
        <p class="title"><span>Personal Information</span></p>
        <div class="personal-content">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="name" class="col-sm-4 col-xs-6 control-label"><span>*</span>Name:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input ng-model="candidate.name" type="text" class="form-control" name="candidateName" required placeholder="">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="province" class="col-sm-4 col-xs-6 control-label"><span>*</span>Current Province:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input ng-model="candidate.currentProvince" type="text" class="form-control" name="currentProvince" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="gender" class="col-sm-4 col-xs-6 control-label"><span>*</span>Gender:</label>
                    <div class="col-sm-5 col-xs-6 candidate_gender">
                        <ul>
                            <li ng-class="{'selected':candidate.gender=='male'}" ng-click="selectGender('male')" value="male" name="male">Male</li>
                            <li ng-class="{'selected':candidate.gender=='female'}" ng-click="selectGender('female')" value="male" name="female">Female</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="nationality" class="col-sm-4 col-xs-6 control-label"><span>*</span>Nationality:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.nationality" class="form-control" name="nationality" required placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="id-number" class="col-sm-4 col-xs-6 control-label"><span>*</span>ID Number:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.nationalId" class="form-control" name="IDnumber" required ng-pattern="/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="passport-no" class="col-sm-4 col-xs-6 control-label"><span style="color:white;">*</span>Passport NO:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.passportNumber" class="form-control" name="passportNumber" required ng-pattern="/^[a-zA-Z]{5,17}$|^[a-zA-Z0-9]{5,17}$/" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="birthday" class="col-sm-4 col-xs-6 control-label"><span>*</span>Birthday:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input ng-click="openbirthday()" readonly class="form-control" uib-datepicker-popup ng-model="candidate.birthday" is-open="popupbirthday.opened" name="birthday" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span style="color:white;">*</span>Birth Province:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.birthProvince" class="form-control" id="birth-province" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span style="color:white;">*</span>Home Phone:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.homePhone" class="form-control" id="birth-province" placeholder="">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span>*</span>Cell Phone:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.cellPhone" class="form-control" name="cellPhone" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span>*</span>E-mail:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="email" ng-model="candidate.mailAddress" class="form-control" name="Email" required placeholder="">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="birth-province" class="col-sm-4 col-xs-6 control-label"><span style="color:white;">*</span>PersonalPage:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.personalPage" class="form-control" id="PersonalPage" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="professional-skill" class="col-sm-4 col-xs-6 control-label"><span>*</span>Professional Skill:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input type="text" ng-model="candidate.skillsDescribe" name="skillsDescribe" required class="form-control" placeholder="e.g. JAVA, Fiance, ...">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="post-graduation-plan" class="col-sm-4 col-xs-6 control-label"><span>*</span> Plan After Graduation:</label>
                    <div class="col-sm-5 col-xs-6">
                        <select ng-model="candidate.graduatePlan" name="graduatePlan" required class="form-control" ng-options="graduatePlanOption for graduatePlanOption in title.graduatePlanOptions"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="graduation-time" class="col-sm-4 col-xs-6 control-label"><span>*</span>Graduation Time:</label>
                    <div class="col-sm-5 col-xs-6">
                        <input ng-click="opengraduationtime()" readonly class="form-control" uib-datepicker-popup ng-model="candidate.graduateTime" is-open="popupgraduationtime.opened" name="graduationTime" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn next-btn" ui-sref="addcandidate.education" ng-disabled="
basicinformation.applicationPosition.$invalid||basicinformation.availableSchedule.$invalid||
basicinformation.candidateName.$invalid||basicinformation.currentProvince.$invalid||
basicinformation.nationality.$invalid||basicinformation.IDnumber.$invalid||
basicinformation.birthday.$invalid||basicinformation.cellPhone.$invalid||
basicinformation.Email.$invalid||basicinformation.skillsDescribe.$invalid||
basicinformation.graduatePlan.$invalid||basicinformation.graduationTime.$invalid||!candidate.gender">Next</button>
</form>