<div class="section fill-process">
    <p class="title"><span>Filling process</span></p>
    <div class="process-content">
        <img class="img-responsive" ng-src="/wechat/resources/images/icon/process2.png">
    </div>
</div>
<div class="error_info" ng-show="LanguageSkillinvalid||educationSkill.university.$invalid||
	educationSkill.major.$invalid||educationSkill.periodStart.$invalid||educationSkill.periodEnd.$invalid||
	educationSkill.degree.$invalid">You need to fill out all the information with '*'</div>
<form name="educationSkill" class="info-form">
    <div class="section language-skill">
        <p class="title"><span style="color: red;">*</span><span>Language Skill</span></p>
        <div class="language-content">
            <label>
                <input ng-model="languageLevel[0]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-4'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;CET-4</label>
            <label>
                <input ng-model="languageLevel[1]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-6'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;CET-6</label>
            <label>
                <input ng-model="languageLevel[2]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-4'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;TEM-4</label>
            <label>
                <input ng-model="languageLevel[3]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-8'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;TEM-8</label>
            <label>
                <input ng-model="languageLevel[4]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-1'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;JPT-1</label>
            <label>
                <input ng-model="languageLevel[5]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-2'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;JPT-2</label>
            <label>
                <input ng-model="languageLevel[6]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-3'" ng-false-value="" id="optionsRadios1" value="option1">&nbsp;JPT-3</label>
            <label>
                <input ng-model="languageLevel[7]" ng-change="changeLanguageLevel()" type="text" name="optionsRadios" id="optionsRadios1" class="form-control" value="" placeholder="Others">
            </label>
        </div>
    </div>
    <div class="section education-experience">
        <p class="title"><span>Education Experience</span></p>
        <div>
            <div class="education-content" ng-repeat="eduExp in candidate.educationExperiences">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label"><span>*</span>University:</label>
                        <div class="col-sm-10">
                            <div class="col-sm-3 col-xs-3">
                                <select class="form-control" ng-model="eduExp.province" ng-options="u.province for u in title.universityOption" ng-change="selectProvince(eduExp.province,{{$index}})"></select>
                            </div>
                            <div class="col-sm-3 col-xs-3" ng-hide="eduExp.selectedOther">
                                <select class="form-control" ng-model="eduExp.city" ng-options="u.city for u in eduExp.province.cities" ng-change="selectCity(eduExp.city,{{$index}})"></select>
                            </div>
                            <div class="col-sm-5 col-xs-6" ng-hide="eduExp.selectedOther">
                                <select class="form-control" name="university" required ng-model="eduExp.university" ng-options="u for u in eduExp.city.universities"></select>
                            </div>
                            <div class="col-sm-8 col-xs-6" ng-show="eduExp.selectedOther">
                                <input class="form-control" name="university" required ng-model="eduExp.university" placeholder="University" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label"><span>*</span>Major:</label>
                        <div class="col-sm-10">
                            <div class="col-sm-4 col-xs-4">
                                <select class="form-control" ng-model="eduExp.division" ng-options="m.division for m in title.major"></select>
                            </div>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" name="major" required ng-model="eduExp.major" ng-options="m for m in eduExp.division.sections"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label"><span>*</span>Period:</label>
                        <div class="col-sm-10">
                            <div class="col-sm-5 col-xs-5">
                                <input name="periodStart" readonly ng-click="openperiodStart($index)" class="form-control" uib-datepicker-popup ng-model="eduExp.periodStart" is-open="popupperiodStart[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                            </div>
                            <div style="text-align:center;line-height:30px;" class="col-sm-1 col-xs-2">-</div>
                            <div class="col-sm-5 col-xs-5">
                                <input ng-click="openperiodEnd($index)" readonly name="periodEnd" class="form-control" uib-datepicker-popup ng-model="eduExp.periodEnd" is-open="popupperiodEnd[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label"><span style="color:white;">*</span>GPA:</label>
                        <div class="col-sm-10 col-xs-7">
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="eduExp.gpa" name="apply-position" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label"><span>*</span>Degree:</label>
                        <div class="col-sm-10 col-xs-7">
                            <div class="col-sm-11">
                                <select class="form-control" name="degree" required ng-model="eduExp.degree" ng-options="degree for degree in title.degrees"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group add-education">
            <div ng-click="addEduExp()" class="left"><img src="/wechat/resources/images/icon/add.png"></div>
            <div class="left explanation">More Experience Of Education</div>
            <div ng-click="dropEduExp()" class="left" ng-show="eduExpShow"><img src="/wechat/resources/images/icon/close.png"></div>
        </div>
    </div>
    <div class="section work-experience">
        <p class="title"><span>Work Experience</span></p>
        <div>
            <div class="work-content" ng-repeat="workExp in candidate.workExperiences">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label">Company:</label>
                        <div class="col-sm-10 col-xs-7">
                            <div class="col-sm-11">
                                <input type="text" class="form-control" ng-model="workExp.company">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label">Position:</label>
                        <div class="col-sm-10 col-xs-7">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="workExp.position">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label">Date of Employment:</label>
                        <div class="form-group col-sm-10">
                            <div class="col-sm-5 col-xs-5">
                                <input name="dateStart" readonly ng-click="openworkdateStart($index)" class="form-control" uib-datepicker-popup ng-model="workExp.workdateStart" is-open="popupworkdateStart[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                            </div>
                            <div style="text-align:center;line-height:30px;" class="col-sm-1 col-xs-2">-</div>
                            <div class="col-sm-5 col-xs-5">
                                <input ng-click="openworkdateEnd($index)" readonly name="dateEnd" class="form-control" uib-datepicker-popup ng-model="workExp.workdateEnd" is-open="popupworkdateEnd[$index].opened" datepicker-options="dateOptions" required close-text="Close" alt-input-formats="altInputFormats" placeholder="yyyy-mm-dd" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="apply-position" class="col-sm-2 col-xs-5 control-label">Details:</label>
                        <div class="col-sm-10 col-xs-12">
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control workDeatil" ng-model="workExp.details"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group addwork">
            <div ng-click="addWorkExp()" class="left"><img src="/wechat/resources/images/icon/add.png"></div>
            <div class="left explanation">More Experience Of Work</div>
            <div ng-click="dropWorkExp()" class="left" ng-show="workExpShow"><img src="/wechat/resources/images/icon/close.png"></div>
        </div>
    </div>
    <button type="button" class="btn back-btn" ui-sref="addcandidate.basic">Back</button>
    <button type="button" class="btn next-btn" ng-disabled="LanguageSkillinvalid||educationSkill.university.$invalid||
	educationSkill.major.$invalid||educationSkill.periodStart.$invalid||educationSkill.periodEnd.$invalid||
	educationSkill.degree.$invalid" ui-sref="addcandidate.survey">Next</button>
</form>
<script>
$("#side-menu .on").removeClass("on");
$("#candidate").addClass("on");
</script>
