<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step1.png">
    <div class="step-name">
        <p>Step 1:Basic information</p>
        <p>第一步：基本信息</p>
    </div>
</div>
<form name="forms.basicinformation" novalidate>
    <section class="step-content">
        <p class="tip eng">You need to fill out all the information with '<span>*</span>',fill the blanks in English.</p>
        <p class="tip cn"><span>*</span>号为必填项，请用英文填写/输入。</p>
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><b>Position information</b></p>
                    <p class="cn">职位信息</p>
                </div>
            </div>
            <div class="form-group">
                <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Position Applied for</label>
                <div class="mob-col-6">
                    <select ng-model="candidate.applicationPosition" name="applicationPosition" required class="form-control" ng-options="positionOption for positionOption in title.positionOptions">
                        <option>Please select a position</option>
                    </select>
                </div>
                <p class="cn">申请职位</p>
            </div>
            <div class="form-group">
                <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Attendance Per Week</label>
                <div class="mob-col-6">
                    <select ng-model="candidate.availableSchedule" name="availableSchedule" ng-change="selectavailable()" required class="form-control" ng-options="availabilityOption.value as availabilityOption.option for availabilityOption in title.availabilityOptions"></select>
                </div>
                <p class="cn">出勤天数</p>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><b> Personal information</b></p>
                    <p class="cn">个人信息</p>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="mob-col-4 mob-label"><span>*</span> Name:</label>
                <div class="mob-col-6">
                    <input ng-model="candidate.name" type="text" class="form-control" name="candidateName" required placeholder="Please enter your name">
                </div>
                <p class="cn">姓名</p>
            </div>
            <div class="form-group gender">
                <label for="gender" class="mob-col-4 mob-label"><span>*</span> Gender:</label>
                <div class="mob-col-6 candidate_gender">
                    <ul>
                        <li ng-class="{'selected':candidate.gender=='male'}" ng-click="selectGender('male')" value="male" name="male">Male</li>
                        <li ng-class="{'selected':candidate.gender=='female'}" ng-click="selectGender('female')" value="male" name="female">Female</li>
                    </ul>
                </div>
                <p class="cn">性别</p>
            </div>
            <div class="form-group">
                <label for="birthday" class="mob-col-4 mob-label"><span>*</span> Birthday:</label>
                <div class="mob-col-6">
                    <input type="text" class="form-control" ng-model="candidate.birthday" name="birthday" required placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                </div>
                <p class="cn">生日</p>
            </div>
            <div class="form-group">
                <label for="id-number" class="mob-col-4 mob-label"><span>*</span> ID Number:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.nationalId" class="form-control" name="IDnumber" required ng-pattern="/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/" placeholder="Please enter your ID Number">
                </div>
                <p class="cn">身份证</p>
            </div>
            <div class="form-group">
                <label for="passport-no" class="mob-col-4 mob-label"> Passport NO:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.passportNumber" class="form-control" name="passportNumber" required ng-pattern="/^[a-zA-Z]{5,17}$|^[a-zA-Z0-9]{5,17}$/" placeholder="Please enter your passport NO">
                </div>
                <p class="cn">护照号</p>
            </div>
            <div class="form-group">
                <label for="nationality" class="mob-col-4 mob-label"><span>*</span> Nationality:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.nationality" class="form-control" name="nationality" required placeholder="Please enter your nationality">
                </div>
                <p class="cn">国籍</p>
            </div>
            <div class="form-group">
                <label for="birth-province" class="mob-col-4 mob-label"> Birth Province:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.birthProvince" class="form-control" id="birth-province" placeholder="Please enter your birth province">
                </div>
                <p class="cn">出生地</p>
            </div>
            <div class="form-group">
                <label for="province" class="mob-col-4 mob-label"><span>*</span> Current Address:</label>
                <div class="mob-col-6">
                    <input ng-model="candidate.currentProvince" type="text" class="form-control" name="currentProvince" required placeholder="Please enter your Province">
                </div>
                <p class="cn">现居地</p>
            </div>
            <div class="form-group">
                <label for="birth-province" class="mob-col-4 mob-label"> Home Phone:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.homePhone" class="form-control" id="birth-province" placeholder="Please enter your home phone">
                </div>
                <p class="cn">家庭电话</p>
            </div>
            <div class="form-group">
                <label for="birth-province" class="mob-col-4 mob-label"><span>*</span> Mobile Phone:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.cellPhone" class="form-control" name="cellPhone" required placeholder="Please enter your cell phone" ng-pattern="/^1\d{10}$/">
                </div>
                <p class="cn">手机号码</p>
            </div>
            <div class="form-group">
                <label for="birth-province" class="mob-col-4 mob-label"><span>*</span> Email:</label>
                <div class="mob-col-6">
                    <input type="email" ng-model="candidate.mailAddress" class="form-control" name="Email" required placeholder="Please enter your Email">
                </div>
                <p class="cn">电子邮箱</p>
            </div>
            <div class="form-group">
                <label for="birth-province" class="mob-col-4 mob-label"> Personal Page:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.personalPage" class="form-control" id="PersonalPage" placeholder="Please enter your personal page">
                </div>
                <p class="cn">个人主页</p>
            </div>
            <div class="form-group">
                <label for="professional-skill" class="mob-col-4 mob-label"><span>*</span> Professional Skill:</label>
                <div class="mob-col-6">
                    <input type="text" ng-model="candidate.skillsDescribe" name="skillsDescribe" required class="form-control" placeholder="e.g. JAVA, Fiance, ...">
                </div>
                <p class="cn">专业技能</p>
            </div>
            <div class="form-group">
                <label for="graduation-time" class="mob-col-4 mob-label"><span>*</span> Graduation Date:</label>
                <div class="mob-col-6">
                    <input type="text" class="form-control" ng-model="candidate.graduateTime" name="graduationTime" required close-text="Close" placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                </div>
                <p class="cn">毕业时间</p>
            </div>
            <div class="form-group">
                <label for="post-graduation-plan" class="mob-col-4 mob-label"><span>*</span> Plan After Graduation:</label>
                <div class="mob-col-6">
                    <select ng-model="candidate.graduatePlan" name="graduatePlan" required class="form-control" ng-options="graduatePlanOption for graduatePlanOption in title.graduatePlanOptions" placeholder="Please enter your plan after graduation"></select>
                </div>
                <p class="cn">毕业后计划</p>
            </div>
            <div class="error-info">
                <p ng-show="forms.basicinformation.candidateName.$error.required && forms.basicinformation.submitted">Name is required.<span>姓名是必须的</span></p>
                <p ng-show="forms.basicinformation.birthday.$error.required && forms.basicinformation.submitted">Birthday is required.<span>生日是必须的</span></p>
                <p ng-show="(forms.basicinformation.IDnumber.$error.required && forms.basicinformation.submitted) && (forms.basicinformation.passportNumber.$error.required && forms.basicinformation.submitted)">You must fill in ID Number or Passport Number.<span>身份证和护照号必须填一个</span></p>
                <p ng-show="(!forms.basicinformation.IDnumber.$error.required) && forms.basicinformation.IDnumber.$invalid && forms.basicinformation.submitted">ID Number is invalid.<span>身份证号码格式错误</span></p>
                <p ng-show="(!forms.basicinformation.passportNumber.$error.required) && forms.basicinformation.passportNumber.$invalid && forms.basicinformation.submitted">Passport Number is invalid.<span>护照号格式错误</span></p>
                <p ng-show="forms.basicinformation.nationality.$error.required && forms.basicinformation.submitted">Nationality is required.<span>国籍是必须的</span></p>
                <p ng-show="forms.basicinformation.currentProvince.$error.required && forms.basicinformation.submitted">Current Address is required.<span>现居地是必须的</span></p>
                <p ng-show="forms.basicinformation.cellPhone.$error.required && forms.basicinformation.submitted">Mobile Phone is required.<span>手机号码是必须的</span></p>
                <p ng-show="(!forms.basicinformation.cellPhone.$error.required )&& forms.basicinformation.cellPhone.$invalid && forms.basicinformation.submitted">Mobile Phone is invalid.<span>手机号码格式错误</span></p>
                <p ng-show="forms.basicinformation.Email.$error.required && forms.basicinformation.submitted">Email is required.<span>电子邮箱是必须的</span></p>
                <p ng-show="(!forms.basicinformation.Email.$error.required )&& forms.basicinformation.Email.$invalid && forms.basicinformation.submitted">Email is invalid.<span>电子邮箱格式错误</span></p>
                <p ng-show="forms.basicinformation.skillsDescribe.$error.required && forms.basicinformation.submitted">Professional Skill is required.<span>专业技能是必须的</span></p>
                <p ng-show="forms.basicinformation.graduationTime.$error.required && forms.basicinformation.submitted">Graduation Date is required.<span>毕业时间是必须的</span></p>
                <p ng-show="forms.basicinformation.graduatePlan.$error.required && forms.basicinformation.submitted">Plan After Graduation is required.<span>毕业后计划是必须的</span></p>
            </div>
            <button type="button" class="btn next-btn" ng-click="nextStep(forms.basicinformation.candidateName.$invalid || forms.basicinformation.currentProvince.$invalid || forms.basicinformation.nationality.$invalid || (forms.basicinformation.IDnumber.$invalid && forms.basicinformation.passportNumber.$invalid) || forms.basicinformation.birthday.$invalid || forms.basicinformation.cellPhone.$invalid || forms.basicinformation.Email.$invalid || forms.basicinformation.skillsDescribe.$invalid || forms.basicinformation.graduatePlan.$invalid || forms.basicinformation.graduationTime.$invalid,2)">Next</button>
            <button type="button" class="btn back-btn" ng-click="change_stap(0)">Back</button>
        </div>
    </section>
</form>
