<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step3.png">
    <div class="step-name">
        <p>Step 3:Survey</p>
        <p>第三步:调研</p>
    </div>
</div>
<form name="forms.survey">
    <section class="step-content">
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><span>*</span><b>Survey</b></p>
                    <p class="cn">调研</p>
                </div>
            </div>
            <div class="form-group question" ng-repeat="questionnaire in questionnaires.questAndAnswerList">
                <label class="mob-label">{{$index+1}}) {{question.english[$index].question}}</label>
                <label class="mob-label cn">{{$index+1}}) {{question.chinese[$index].question}}</label>
                <div>
                    <textarea id="textarea{{$index+1}}" class="form-control " name="answer" ng-change="check_char({{$index+1}})" ng-required="true" ng-model="questionnaire.answer" placeholder="Please enter your point" onpropertychange="this.style.height=this.scrollHeight+'px';" oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 2rem;"></textarea>
                    <span id="span{{$index+1}}" hidden=t rue>{{count}}/200</span>
                </div>
            </div>
            <div class="error-info">
                <p ng-show="questionNull && forms.survey.submitted">You need to fill out all questions<span>你需要填完所有问题</span></p>
            </div>
            <button type="button" class="btn next-btn" ng-click="nextStep(questionNull || !countFlag,4)">Next</button>
            <button type="button" class="btn back-btn" ng-click="change_stap(2)">Back</button>
        </div>
    </section>
</form>
