<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step2.png">
    <div class="step-name">
        <p>Step 2:Skill & Education</p>
        <p>第二步:技能和教育</p>
    </div>
</div>
<form name="forms.educationSkill" novalidate>
    <section class="step-content">
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><span>*</span><b> Language Skill</b></p>
                    <p class="cn">语言技能</p>
                </div>
            </div>
            <div class="language-content">
                <label class="option" ng-class="{'selected':languageLevel[0]=='CET-4'}">
                    <input ng-model="languageLevel[0]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-4'" ng-false-value="" id="optionsRadios1" value="option1">CET-4</label>
                <label class="option" ng-class="{'selected':languageLevel[1]=='CET-6'}">
                    <input ng-model="languageLevel[1]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'CET-6'" ng-false-value="" id="optionsRadios1" value="option1">CET-6</label>
                <label class="option" ng-class="{'selected':languageLevel[2]=='TEM-4'}">
                    <input ng-model="languageLevel[2]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-4'" ng-false-value="" id="optionsRadios1" value="option1">TEM-4</label>
                <label class="option last" ng-class="{'selected':languageLevel[3]=='TEM-8'}">
                    <input ng-model="languageLevel[3]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'TEM-8'" ng-false-value="" id="optionsRadios1" value="option1">TEM-8</label>
                <label class="option" ng-class="{'selected':languageLevel[4]=='JPT-1'}">
                    <input ng-model="languageLevel[4]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-1'" ng-false-value="" id="optionsRadios1" value="option1">JPT-1</label>
                <label class="option" ng-class="{'selected':languageLevel[5]=='JPT-2'}">
                    <input ng-model="languageLevel[5]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-2'" ng-false-value="" id="optionsRadios1" value="option1">JPT-2</label>
                <label class="option" ng-class="{'selected':languageLevel[6]=='JPT-3'}">
                    <input ng-model="languageLevel[6]" ng-change="changeLanguageLevel()" type="checkbox" name="optionsRadios" ng-true-value="'JPT-3'" ng-false-value="" id="optionsRadios1" value="option1">JPT-3</label>
                <div class="form-group others">
                    <label for="name" class="mob-col-4 mob-label">Others:</label>
                    <div class="mob-col-6">
                        <input ng-model="languageLevel[7]" ng-change="changeLanguageLevel()" type="text" name="optionsRadios" id="optionsRadios1" class="form-control" value="" placeholder="Others">
                    </div>
                    <p class="cn">其他</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><span>*</span><b> Education Experience</b></p>
                    <p class="cn">教育经历</p>
                </div>
            </div>
            <div ng-repeat="eduExp in candidate.educationExperiences">
                <div class="form-group">
                    <label for="name" class="mob-col-25 mob-label"><span>*</span> University:</label>
                    <div class="mob-col-75">
                        <div class="mob-col-3">
                            <select class="form-control" ng-model="eduExp.province" ng-options="u.province for u in title.universityOption" ng-change="selectProvince(eduExp.province,{{$index}})">
                                <option value="">-- City --</option>
                            </select>
                        </div>
                        <div class="mob-col-3" ng-hide="eduExp.selectedOther">
                            <select class="form-control" ng-model="eduExp.city" ng-options="u.city for u in eduExp.province.cities" ng-change="selectCity(eduExp.city,{{$index}})">
                                <option value="">-- City --</option>
                            </select>
                        </div>
                        <div class="mob-col-4" ng-hide="eduExp.selectedOther">
                            <select class="form-control" name="university" required ng-model="eduExp.university" ng-options="u for u in eduExp.city.universities" ng-change="isTouched()">
                                <option value="">-- University --</option>
                            </select>
                        </div>
                        <div class="mob-col-7" ng-show="eduExp.selectedOther">
                            <input class="form-control" name="university" required ng-model="eduExp.university" placeholder="University" />
                        </div>
                    </div>
                    <p class="cn">大学</p>
                </div>
                <div class="form-group">
                    <label for="name" class="mob-col-3 mob-label"><span>*</span> Major:</label>
                    <div class="mob-col-7">
                        <div class="mob-col-4">
                            <select class="form-control" ng-model="eduExp.division" ng-options="m.division for m in title.major">
                                <option value="">-- Class --</option>
                            </select>
                        </div>
                        <div class="mob-col-6">
                            <select class="form-control" name="major" required ng-model="eduExp.major" ng-options="m for m in eduExp.division.sections">
                                <option value="">-- Section --</option>
                            </select>
                        </div>
                    </div>
                    <p class="cn">专业</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-3 mob-label"><span>*</span> Period:</label>
                    <div class="mob-col-7">
                        <div class="mob-col-4">
                            <input type="text" name="periodStart" class="form-control" ng-model="eduExp.periodStart" required placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                        <div class="mob-col-2" style="line-height: 1.7rem">——</div>
                        <div class="mob-col-4">
                            <input type="text" name="periodEnd" class="form-control" ng-model="eduExp.periodEnd" required placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                    </div>
                    <p class="cn">在读时间</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label">GPA:</label>
                    <div class="mob-col-6">
                        <input type="number" class="form-control" ng-model="eduExp.gpa" name="apply-position" placeholder="Please enter your GPA">
                    </div>
                    <p class="cn">绩点</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label"><span>*</span> Degree:</label>
                    <div class="mob-col-6">
                        <select class="form-control" name="degree" required ng-model="eduExp.degree" ng-options="degree for degree in title.degrees">
                            <option value="">-- Degree --</option>
                        </select>
                    </div>
                    <p class="cn">学历</p>
                </div>
            </div>
            <div class="more">
                <img src="/wechat/resources/images/icon/add.png" ng-click="addEduExp()" class="left add-icon">
                <p class="left">More Experience Of Education</p>
                <img src="/wechat/resources/images/icon/close.png" ng-show="eduExpShow" ng-click="dropEduExp()" class="right close-icon">
            </div>
        </div>
        <div class="section">
            <div class="title">
                <div class="title-name">
                    <p class="eng"><b>Work Experience</b></p>
                    <p class="cn">工作经历</p>
                </div>
            </div>
            <div ng-repeat="workExp in candidate.workExperiences">
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label">Company:</label>
                    <div class="mob-col-6">
                        <input type="text" class="form-control" ng-model="workExp.company" placeholder="Please enter your company">
                    </div>
                    <p class="cn">公司名称</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label">Position:</label>
                    <div class="mob-col-6">
                        <input type="text" class="form-control" ng-model="workExp.position" placeholder="Please enter your position">
                    </div>
                    <p class="cn">职位</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label">Date of Employment:</label>
                    <div class="mob-col-6">
                        <div class="mob-col-4">
                            <input type="text" name="dateStart" class="form-control" ng-model="workExp.workdateStart" required placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                        <div style="float:left;line-height: 1.7rem" class="mob-col-2">——</div>
                        <div class="mob-col-4">
                            <input type="text" name="dateEnd" class="form-control" ng-model="workExp.workdateEnd" required placeholder="yyyy-mm-dd" mobiscroll-date="settings" mobiscroll-instance="date" />
                        </div>
                    </div>
                    <p class="cn">在职时间</p>
                </div>
                <div class="form-group">
                    <label for="apply-position" class="mob-col-4 mob-label">Details:</label>
                    <div class="mob-col-6">
                        <textarea type="text" class="form-control workDeatil" ng-model="workExp.details" placeholder="Please enter your details" onpropertychange="this.style.height=this.scrollHeight+'px';" oninput="this.style.height=this.scrollHeight+'px';" style="overflow-y: hidden; height: 1.5rem;"></textarea>
                    </div>
                    <p class="cn">详情</p>
                </div>
            </div>
            <div class="more">
                <img src="/wechat/resources/images/icon/add.png" ng-click="addWorkExp()" class="left add-icon">
                <p class="left">More Experience Of Work</p>
                <img src="/wechat/resources/images/icon/close.png" ng-show="workExpShow" ng-click="dropWorkExp()" class="right close-icon">
            </div>
            <div class="error-info">
                <p ng-show="LanguageSkillinvalid && forms.educationSkill.submitted">Language Skill is required.<span>语言技能是必须的</span></p>
                <p ng-show="forms.educationSkill.university.$error.required && forms.educationSkill.submitted">University is required.<span>大学是必须的</span></p>
                <p ng-show="forms.educationSkill.major.$error.required && forms.educationSkill.submitted">Major is required.<span>专业是必须的</span></p>
                <p ng-show="(forms.educationSkill.periodStart.$error.required && forms.educationSkill.submitted) || (forms.educationSkill.periodEnd.$error.required && forms.educationSkill.submitted)">Period is required.<span>在读时间是必须的</span></p>
                <p ng-show="forms.educationSkill.degree.$error.required && forms.educationSkill.submitted">Degree is required.<span>学历是必须的</span></p>
            </div>
            <button type="button" class="btn next-btn" ng-click="nextStep(LanguageSkillinvalid||forms.educationSkill.university.$invalid||forms.educationSkill.major.$invalid||forms.educationSkill.periodStart.$invalid||forms.educationSkill.periodEnd.$invalid||forms.educationSkill.degree.$invalid,3)" >Next</button>
            <button type="button" class="btn back-btn" ng-click="change_stap(1)">Back</button>
        </div>
    </section>
</form>
