<div class="candidate-step">
    <img class="step-img" src="/wechat/resources/images/icon/step4.png">
    <div class="step-name">
        <p>Step 4:Upload Photo</p>
        <p>第四步：上传照片(小于4M!)</p>
    </div>
</div>
<section class="step-content">
    <form id="photoForm" enctype="multipart/form-data">
        <input type="file" file-model="candidatePhoto" data-default-file="" class="dropify" data-max-file-size="4M" />
    </form>
    <button type="button" class="btn next-btn" ng-click="uploadPhoto(candidatePhoto)">Next</button>
    <button type="button" class="btn back-btn" ng-click="change_stap(3)">Back</button>
</section>
<script>
$(document).ready(function() {
    // Basic
    $('.dropify').dropify();

    // Translated
    $('.dropify-fr').dropify({
        messages: {
            default: 'Click and Choose a photo here',
            replace: 'Click and Choose a photo here',
            remove: 'Removed',
            error: 'Sorry, this photo is too large'
        }
    });

    // Used events
    var drEvent = $('#input-file-events').dropify();

    drEvent.on('dropify.beforeClear', function(event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
    });

    drEvent.on('dropify.afterClear', function(event, element) {
        alert('File deleted');
    });

    drEvent.on('dropify.errors', function(event, element) {
        console.log('Has Errors');
    });

    var drDestroy = $('#input-file-to-destroy').dropify();
    drDestroy = drDestroy.data('dropify')
    $('#toggleDropify').on('click', function(e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
            drDestroy.destroy();
        } else {
            drDestroy.init();
        }
    })
});
</script>
