<img class="img-responsive" src="/wechat/resources/images/icon/head-img.jpg">
<div class="start-content">
    <div class="section fill-process">
        <div class="title">
            <div class="title-name">
                <p class="eng"><b>Fill Process</b></p>
                <p class="cn">填写步骤</p>
            </div>
        </div>
        <img class="img-responsive mobile-process" src="/wechat/resources/images/icon/fill-process.png">
        <button type="button" class="btn next-btn" ng-click="change_stap(1)">Start Now</button>
    </div>
</div>
