<div class="success-img">
    <img class="smile" src="/wechat/resources/images/icon/smile.png">
    <p class="title">Congratulations</p>
    <p class="subtitle">Success!</p>
    <img class="logo" src="/wechat/resources/images/icon/wechat-logo.png">
</div>
<section class="success step-content">
    <a href="http://mp.weixin.qq.com/s?__biz=MzIxNzM4NDU2Ng==&mid=100000002&idx=1&sn=fe89b67e22bb438d87e15823d3e2546e&scene=18#wechat_redirect " class="btn back-btn" role="button">Back to Job List</a>
    <button type="button" class="btn back-btn" ng-disabled="true">Share</button>
</section>
