<section class="provision step-content">
	<div class="provision-title">
		<p>PricewaterhouseCoopers Information Technologies Employment Regulation</p>
		<p>普华永道信息技术（上海）有限公司录用员工规定</p>
	</div>
	<div class="provision-content">
		<p>In order to hire the qualified employees and maintain the good image of PricewaterhouseCoopers Information Technologies (Shanghai) Co., Ltd. (the firm), all new hires should comply with the following employment regulation which are enacted according to China related laws and regulations:</p>
		<span>为确保公司员工队伍的素质，维护公司的良好信誉，根据相关法律，特制定本规定：</span>
	</div>
	<div class="provision-content">
		<p>1. Health  <span>身体条件</span><br>
		1.1	The new hires should go to the assigned hospital to take the physical check, which result should show that they are eligible to take the job according to the different requirments of the positions.</p>
		<span>1.1  被录用人员必须接受指定医院的入职体检，且报告结果显示合格，并能根据公司各类工作性质的要求从事不同的工作。</span>
		<p>1.2	The new hires can't hide any Psychological diseases, any infectious disease or any human organs defect caused by a disease or the congenital.</p>
		<span>1.2  被录用人员不得隐瞒患有或曾患有精神类疾病，或隐瞒因疾病引起的或先天性的人体器官缺陷及传染病等疾病。</span>
	</div>
	<div class="provision-content">
		<p>2. Morality  <span>品德要求</span><br>
		2.1	Employees must not only be honest and faithful, but also comply with the policies of the firm and the laws of the country.</p>
		<span>2.1  被录用人员必须品行端正、诚实守信，并严格遵守公司各项规章制度和国家法律法规。</span>
		<p>2.2	Employees can't hide the experiences of any administrative penalty, security punishment or criminal punishment.</p>
		<span>2.2  被录用人员不得隐瞒曾受过行政处分、治安处罚和刑事处罚的经历。</span>
	</div>
	<div class="provision-content">
		<p>3. Education and Working Experiences <span>学历要求和工作经历</span><br>
		3.1	The education of the new hires is qualified with the requirements of the job position they apply for.</p>
		<span>3.1  被录用人员的学历应符合其应聘岗位的专业要求。</span>
		<p>3.2	The new hires can't hide, forge or falsify their education certificates, professional qualification certificates, working experiences or the physical check report of new hires.</p>
		<span>3.2  被录用人员不得隐瞒、伪造、编造其学历、职称、资格证书、工作经历及进公司时的体检报告。</span>
		<p>3.3	The new hires can't hide the facts that they signed the Non-Competing Agreement or the Confidentiality Agreement with the former employers. </p>
		<span>3.3  被录用人员不得隐瞒其与原任职单位签署过不竞争协议、保密协议的记录。</span>
	</div>
	<div class="provision-content">
		<p>4. Enactment & Explanation  <span>制定和解释</span><br>
		This regulation was enacted and can be explained by HR Team of the firm.</p>
		<span>本规定由公司人力资源部制定并负责解释。</span>
	</div>	
</section>
<section class="provision step-content fix">
	<button type="button" class="btn mob-col-3 back-btn" ui-sref="uploadPhoto">Back</button>
	<button type="button" class="btn mob-col-6 next-btn" ui-sref="success" ng-click="submitCandidate()">Agree and Submit</button>
</section>
<div class="weui_dialog_alert" ng-show="notice.show">
	<div class="weui_mask"></div>
	<div class="weui_dialog">
		<div class="weui_dialog_hd">
			<strong class="weui_dialog_title">Notice</strong>
		</div>
		<div class="weui_dialog_bd" ng-bind="errorinfo">Information is in the wrong format<br>Please confirm again</div>
		<div class="weui_dialog_ft">
			<a href="javascript:;" class="weui_btn_dialog primary" data-ng-click="hideNotice()">Got it</a>
		</div>
	</div>
</div>
<div data-ng-show="loadingToast.show" class="weui_loading_toast">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
	    <div class="weui_loading" id="leafs">
	        <div class="weui_loading_leaf_0 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_1 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_2 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_3 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_4 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_5 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_6 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_7 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_8 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_9 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_10 weui_loading_leaf" ></div>
	        <div class="weui_loading_leaf_11 weui_loading_leaf" ></div>
	    </div>
	    <p class="weui_toast_content">Loading</p>
	</div>
</div>