<div class="side-content">
    <nav nav-focus id="menu" class="navbar-default navbar-fixed-side side_menu" role="navigation">
        <div class="sidebar-collapse collapse in">
            <ul class="nav" id="side-menu">
                <li class="sidebar-user">My Profile</li>
                <li>
                    <a class="extend" href="javascript:;" data-target="#process" data-toggle="collapse">
                        <i class="fa fa-list-ul fa-fw"></i> Fill Process
                    </a>
                    <ul id="process" class="nav nav-second-level collapse in">
                        <li ui-sref-active="on">
                            <a ui-sref="basic">
                                Basic Information
                            </a>
                        </li>
                        <li ui-sref-active="on">
                            <a ui-sref="education">
                                Skills &Education
                            </a>
                        </li>
                        <li ui-sref-active="on">
                            <a ui-sref="survey">
                               Survey
                            </a>
                        </li>
                        <li ui-sref-active="on">
                            <a ui-sref="uploadPhoto">
                                Upload Photo
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="sheets">
                    <a>
                        <i class="fa fa-phone fa-fw"></i> Contact us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
