<div class="success-img">
	<img class="smile" src="/wechat/resources/images/icon/smile.png">
	<p class="title">Congratulations</p>
	<p class="subtitle">Success!</p>
	<img class="logo" src="/wechat/resources/images/icon/wechat-logo.png">
</div>