<div class="section fill-process">
    <p class="title"><span>Filling process</span></p>
    <div class="process-content">
            <img class="img-responsive" ng-src="/wechat/resources/images/icon/process3.png">
    </div>          
</div>
<div class="error_info" ng-show="survey.answer.$invalid">You need to fill out all the information with '*'</div>
<div>
<select ng-model="selectedLanguage" ng-options="item for item in languages" ng-change="changeLanguage(selectedLanguage)"></select> 
<span>问卷内容中英文均可‚</span>
</div>
<form name="survey">
<div class="section questions">
<p class="title"><span>Questions</span></p>
    <div class="survey_cell" ng-repeat="questionnaire in questionnaires.questAndAnswerList">
        <div>
            <label  ng-model="questionnaire.question"><span>*</span>{{$index+1}}) {{questionnaire.question}}</label>
            <div><textarea id="textarea{{$index+1}}" class="survey_textarea" name="answer" ng-change="check_char({{$index+1}})" ng-required="true" ng-model="questionnaire.answer"></textarea>
            <span id="span{{$index+1}}" hidden = true>{{count}}/200</span>
            </div>
        </div>
    </div>
    </div>
</form>
<button ui-sref="education" type="button" class="btn back-btn">Back</button>
<button type="button" class="btn next-btn" ng-disabled="questionNull || !countFlag" ui-sref="uploadPhoto">Next</button>
<script>
    $(".on").removeClass("on");$("#candidate").addClass("on");
</script>