p {
    margin: 0;
}

.row {
    margin: 0;
}

#side-menu .extend:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #fff;
}

#side-menu .extend:hover:after {
    color: #ff8b00;
}

#side-menu .extend.collapsed:after {
    content: "\e080";
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-brand span {
    font-size: 18px;
    vertical-align: middle;
    margin-top: 10px;
    font-style: normal;
}

#menu .sidebar-user {
    font-family: Georgia;
    font-weight: bold;
    font-size: 22px;
    padding-left: 42px;
}

#process li a {
    padding-left: 45px;
}

#menu li a i {
    margin-right: 10px;
}

.content {
    padding: 40px 40px 80px 40px;
}


/*process-bar*/

.process-guide {
    font-size: 16px;
    height: 40px;
    border-left: solid 2px #EEEDEB;
    border-right: 2px solid #EEEDEB;
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 40px;
}

.process-guide li {
    font-family: Georgia;
    float: left;
    position: relative;
    border-top: solid 2px #EEEDEB;
    border-bottom: solid 2px #EEEDEB;
    background: #fff;
    height: 40px;
    line-height: 36px;
    color: #000;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 25%;
    text-align: center;
}

.process-guide li img {
    vertical-align: inherit;
    height: 14px;
    margin-left: 5%;
}

.process-guide .step1,
.process-guide .step2 {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #C0C0C0;
    color: #000;
}

.process-guide .step1-done {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #FF8B00;
    color: #fff;
}

.process-guide li:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.process-guide .step:after,
.process-guide .step:before {
    border: 18.5px solid transparent;
    border-left: 15px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -33px;
    z-index: 11;
    content: ' '
}

.process-guide .step:before {
    border-left-color: #EEEDEB;
    right: -35px;
    z-index: 10;
}

.process-guide .step1:after,
.process-guide .step2:after {
    border-left-color: #C0C0C0;
}

.process-guide .step1-done:after {
    border-left-color: #FF8B00;
}


/*content*/

.candidate-step {
    padding-bottom: 10px;
    border-bottom: 2px solid #EEEDEB;
    margin-bottom: 40px;
}

.candidate-step h2 {
    font-family: Georgia;
    font-size: 22px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.candidate-step h3 {
    font-size: 12px;
    color: #828282;
    margin-top: 0;
    margin-bottom: 20px;
}

.candidate-step p {
    font-size: 14px;
    color: #828282;
}

.candidate-step .eng {
    font-family: Helvetica;
}

.candidate-step p span,
.title-name p span {
    color: red;
}

.section {
    margin-bottom: 30px;
}

.section .title {
    border-bottom: 1px solid #E6E4E1;
    height: 64px;
}

.section .title-name {
    display: inline-block;
    border-bottom: 1px solid #ff8b00;
}

.section .title-name .eng {
    font-family: Helvetica;
    font-size: 18px;
    color: #333;
}

.section .title-name .cn {
    font-size: 12px;
    color: #828282;
    padding-bottom: 16px;
}

.position-content {
    margin: 10px 0 30px 0;
}

.personal-content {
    margin: 16px 0 60px 0;
}

.form-group,.muti-select>div{
    padding: 0;
}

.form-group label p span {
    color: red;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group .eng {
    font-family: Helvetica;
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.form-group .cn {
    font-size: 12px;
    color: #828282;
    font-weight: normal;
}

.form-control{
	border-radius: 0;
}

.lang-other {
    font-weight: normal;
}

.radio {
    margin: 0;
}

.radio input,
.checkbox-inline input {
    width: 18px;
    height: 18px;
}

.radio label,
.checkbox-inline,.lang-other input{
    font-size: 16px;
}

.checkbox-inline {
    margin-bottom: 8px;
    margin-right: 40px;
}

.checkbox-inline+.checkbox-inline {
    margin-left: 0;
}

.radio label span {
    margin: 0 10px;
}

.checkbox-inline span {
    margin: 0 8px;
}

.back-btn {
    float: right;
    background: #C0C0C0;
    font-family: Georgia;
    font-size: 16px;
    color: #fff;
    padding: 10px 70px;
    margin-right: 30px;
}

.next-btn {
    float: right;
    background: #F78A1B;
    font-family: Georgia;
    font-size: 16px;
    color: #fff;
    padding: 10px 70px;
}

.next-btn.focus,
.next-btn:focus,
.next-btn:hover,
.back-btn.focus,
.back-btn:focus,
.back-btn:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    color: #fff;
    outline: none;
}

input[type=checkbox] {
    margin: 4px 0 0;
}

.language-content {
    margin: 10px 0 30px 0;
}
.education-content{
	margin: 10px 0 2px 0;
}
.work-content{
	margin: 17px 0 10px 0;
}
.more-exp .icon{
	width: 16px;
	height: 16px;
}
.more-exp .icon+span{
	vertical-align: middle;
}