
body {
  padding-top: 50px;
}
.starter-template {
	
  padding: 40px 15px;
  text-align: center;
}
nav {
	background: url(../images/header_bg_2048_210.jpg) repeat-x bottom;;
	background-size: auto;
	background-repeat:no-repeat;
	width: 100%;
	
}
.white{
	color:#FFF;
}
footer {
	position: fixed;
	z-index: -1;
	bottom: 0px;
	left: 0px;
	background: url(images/footer_bg_2048_10.jpg);
	height: 5px;
	width: 100%;
	
}
.footerLogo {
	background: url(images/footer_PWC_Logo_155_120.png);
	background-size: auto;
	position: fixed; 
	bottom: 10px;
	right: 10px;
	height: 120px;
	width: 155px;
	z-index: -99;
}
@media screen and (max-height: 550px) {
    .footerLogo {
	display:none;
	}
}
.act
{
	background-color:#D52B2B;
}