
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

/*login page*/
.bg{
	background:url(../../resources/images/bg.jpg) no-repeat center fixed;
	background-size: cover;
	height: 100%;
}
h2{
	font-size: 36px;
	font-family: Georgia;
	color:#fff;
	margin: 0 0 40px 0;
}
.main{
	margin-top: 100px;
}
.content{
	padding: 30px 35px 35px 30px;
	background: #fff;
/*	background: rgba(255,255,255,.9);*/
	opacity: .9;
}
.logo{
	width: 120px;
}
form{
	padding-top: 25px;
	margin-bottom: 0;
}
.email label,.password label{
	padding:0;
	margin: 0;
}
.email>div,.password>div{
	padding: 0;
}
.form-horizontal .form-group{
	margin: 0;
}
.icon{
	height: 50px;
}
.form-group .form-control{
	font-size: 20px;
	border-radius: 0;
	height: 50px;
	border-left: none;
/*	background: #f0fbf8;*/
	background: rgba(240,250,249,.9);
}
input[type="password"],input[type="text"]{
	font-family: Georgia;
	border:1px solid #ccc;
	padding: 6px 12px;
}
input[type="password"]:focus,input[type="text"]:focus{
	background: rgba(240,250,249,.9);
	border:1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); 
    border-left:none;
}
.form-group.email{
	margin-bottom: 15px;
}
.form-group.password{
	margin-bottom: 30px;
}
.sign-in{
	font-family: Georgia;
	background: #ff8a00;
	height: 50px;
	color:#fff;
	font-size: 20px;
}
.btn.focus, .btn:focus, .btn:hover{
	color:#fff;
}
.error-info{
	color:red;
}
@media (min-width: 1200px){
	.col-md-offset-3 {
    	margin-left: 28.5%;
    }
    .col-md-6 {
    	width: 43%;
    }
}
@media(min-width: 680px) and (max-width: 766px){
	.col-xs-2 {
	    width: 10.666667%;
	}
	.col-xs-10 {
	    width: 89.333333%;
	}
}
@media(min-width: 581px) and (max-width: 679px){
	.col-xs-2 {
	    width: 11.666667%;
	}
	.col-xs-10 {
	    width: 88.333333%;
	}
}
@media(min-width: 529px) and (max-width: 580px){
	.col-xs-2 {
	    width: 15.666667%;
	}
	.col-xs-10 {
	    width: 84.333333%;
	}
}
@media(max-width: 488px){
	.icon{
		height: 40px;
	}
	.form-group .form-control{
		height: 40px;
	}
}